/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* RWD tag to visually indicate media query breaks */
#tag {
	position: fixed;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: #CC0000;
}

/* PAGE THEME COLORS - PLEASE USE */
:root {
    --menu-color: gold;
    --iu-red: rgb(153, 0, 0);
    --iu-grey: rgb(237, 235, 235);
    --iu-black: rgb(69, 56, 43);
}

/* Extra small devices (phones, less than 768px) */

/* 
    GENERAL
*/
body {
  margin: 0;
  background-color: #fff;
}

/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, p, li, a, td, figcaption {
    font-family: BentonSansRegular,Helvetica,Arial,sans-serif;

    /* also adjust margin and line-height */
}

h1 {

    /* also adjust padding and font weight */
    /* adjust H1 size in the media queries */
    color: white;
    font-size: 24px;
}

h1 span {
    font-family: BentonSansBold,Helvetica,Arial,sans-serif;
    font-weight: 400;
    /* adjust font weight */
}

h2 {
    font-size: 40px;
    font-family: BentonSansBold,Helvetica,Arial,sans-serif;
}

h3 {
    letter-spacing: 2px;
    font-size: 30px;
    font-family: BentonSansBold,Helvetica,Arial,sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.5em;
}
/* Navigation */
.openbtn {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.openbtn:hover {
    color: grey;
}
.menu-text {
    font-size: 11px;
    display: block;
}

/* The side navigation menu */
.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color:  rgba(73, 56, 40, 1);  
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: grey;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*
    HEADER
*/


header {
    text-align: center;
    display: flex;
    justify-content: center;
    background: rgba(169, 5, 51, 1);
    padding-left: 4em;
    padding-top: 1em;
}

/*
    MAP
*/
#mapid { 
    /* adjust map height in the media queries  */
    height: 180px; 
}

/* Main */
.racing-stripes {
    /* https://css-tricks.com/stripes-css/ */
    background: repeating-linear-gradient(
    -50deg,
    rgb(173,167,164),
    rgb(173,167,164) 10px,
    rgb(237, 235, 235) 10px,
    rgb(237, 235, 235) 20px);
    height: 40px;
}

article {
    /* add padding */
    margin: 0 auto;
    padding: 30px;
}
article:nth-child(3n){
    background: rgba(173, 167, 164, .2)
}

/* Add additional page styles here */

.challenges-img{
    width: 300px;
    display: block;
}

footer {
    padding: 2.0em;
    /* set background color and use margin to push it down from the rest of the content */
    background: rgba(73, 56, 40, 1);
    margin-top: 2em;
}

/*
    BUTTONS AND LINKS
*/
.button {
    background-color: var(--iu-red);
    border: 3px solid var(--iu-red);
    border-radius: 20px;
    color: white;
    padding: 0.5em 1.0em;
    margin: 1.0em 2.0em 0 0;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out,color .2s ease-out,border-color .18s ease-out;
    white-space: nowrap;
}

.button:hover {
    background-color: transparent;
    color: var(--iu-red);
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
}

/*
    MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1{
        font-size: 36px;
    }
    #mapid{
        height: 240px;
    }
    .b-container{
        display: flex;
        flex-flow: row nowrap;
    }
    section{
        display: flex;
    }
    .challenges-img{
        display: block;
        min-width: 300px;
        margin-right: 1em;
    }
    .research {
        display: block;
        min-width: 400px;
        max-width: 1000px;
    }
    article {
        margin: 0 auto;
        padding: 10px 100px 40px 100px;
    }
    #tag { background-color: #FF9900; }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1{
        font-size: 42px;
    }
    #mapid{
        height: 360px;
    }
    .racing-stripes{
        height: 60px;
    }
    article {
        /* add padding */
        margin: 0 auto;
        padding: 10px 150px 40px 150px;
    }
    #tag { background-color: #00AA88; }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #mapid{
        height: 480px;
    }
    #tag { background-color: #674EA7; }
    article {
        /* add padding */
        margin: 0 auto;
        padding: 10px 250px 40px 250px;
    }

}
